nltk==3.4
pattern
numpy==1.14.0
torch
pytorch-pretrained-bert==0.5.1
tqdm==4.31.1
transformers
spacy
allennlp==0.8.2
dill
torch-scatter
torch-sparse
torch-cluster
torch-geometric
ordered_set
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz
multipledispatch