@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Baloo+Bhai);
@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
.App {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Open Sans";
    background-color: #c1d7f7;
}

.AppMain {
    display: flex;
    flex-direction: column;
    margin: 0vh 10vw;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #c1d7f7;
    min-height: 10vh;
    width: 100%;
    padding-top: calc(2vmin);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Righteous";
    letter-spacing: -1px;
    font-size: calc(5vmin);
    color: white;
}

.scroll_examples {
    height: 12.6vh;
    margin-left: 0.5vw;
    background-color: #e3edfc;
    border: 0;
    color: black;
    flex: 2;
}

.example_content {
    border: 0px;
}

.App-link {
    color: #09d3ac;
}

.button_pretty {
    background-color: #e3edfc;
    border: none;
    color: #1c52a3;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', Arial, sans-serif;
    letter-spacing: -1px;
    font-size: 1em;
    font-size: calc(2vmin);
    line-height: 1em;
    margin: 0 0;
    margin-left: calc(1vmin);
    outline: none;
    padding: calc(1vmin) calc(1vmin) calc(1vmin);
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
}

.button_pretty:before,
.button_pretty:after {
    border-color: transparent;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: "";
    height: calc(2vmin);
    position: absolute;
    width: calc(2vmin);
}

.button_pretty:before {
    border-color: #1c52a3;
    border-right-width: 2px;
    border-top-width: 2px;
    right: calc(-0.5vmin);
    top: calc(-0.5vmin);
}

.button_pretty:after {
    border-bottom-width: 2px;
    border-color: #1c52a3;
    border-left-width: 2px;
    bottom: calc(-0.5vmin);
    left: calc(-0.5vmin);
}

.button_pretty:hover,
.button_pretty.hover {
    background-color: #1c52a3;
    color: #fff;
}

.button_pretty:hover:before,
.button_pretty.hover:before,
.button_pretty:hover:after,
.button_pretty.hover:after {
    height: 100%;
    width: 100%;
}

.reset {
    margin: 1vh 10vw;
    float: right;
}

.button {
    background: #e3edfc;
    color: #1c52a3;
    border-radius: 4px;
    align-items: center;
    float: right;
    padding: 5px;
    font-size: calc(2vmin);
}

.nlq_textbox_and_mic {
    background-color: white;
    border: calc(0.5vmin) ridge #e3edfc;
    flex: 1 2 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.botui-messages-container {
    text-align: left;
}