.bottom_interfaces {
    margin: -1vh 0vw 0vh 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nlq_textbox {
    border: 0;
    flex: 1 2 90%;
    color: #1c52a3;
    font-size: calc(2vmin);
    padding: 0 0
}
  
.select {
    margin: calc(0.2vmin); 
    background-color: #e3edfc;
    font-size: calc(1.7vmin);
    color: #1c52a3;
    font-family: "Open Sans";
    max-width: calc(16vmin);
    min-width: calc(16vmin);
  
    --styled-select-arrow__color: #9b9ba5;
    --styled-select-arrow__size: 8;
  
    --styled-select-control__border-color: #dcdce3;
    --styled-select-control__border-color--focused: #1c52a3;
    --styled-select-control__max-height: calc(4vmin);
    --styled-select-control__min-height: calc(4vmin);
  
    --styled-select-input__height: calc(1.5vmin);
    --styled-select-input__line-height: calc(1.5vmin);
    --styled-select-input__padding: 0;
  
    --styled-select-menu-outer__background-color: #e3edfc;
    --styled-select-menu-outer__border-color: #f0f0f5;
    --styled-select-menu-outer__border-radius: 2px;
    --styled-select-menu-outer__border-style: solid;
    --styled-select-menu-outer__border-width: 1px;
    --styled-select-menu-outer__box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    --styled-select-menu-outer__margin: 5px 0 0 0;
    --styled-select-menu-outer__max-height: calc(15vh);
    --styled-select-menu-outer__padding: 0;
  
    --styled-select-menu__max-height: calc(15vh);
    
    --styled-select-option__background-color: #e3edfc;
    --styled-select-option__background-color--focused: #c1d7f7;
    --styled-select-option__background-color--selected: #1c52a3;
    --styled-select-option__color: #1c52a3;
    --styled-select-option__color--focused: #1c52a3;
    --styled-select-option__color--selected: #fff;
    --styled-select-option__font-family: "Open Sans";
    --styled-select-option__font-size: calc(1.7vmin);
    --styled-select-option__padding: calc(0.5vmin) calc(0.5vmin);
    --styled-select-option__margin: 0;
  
    --styled-select-placeholder__color: #d2d2d9;
    --styled-select-placeholder__font-family: "Open Sans";
    --styled-select-placeholder__font-size: calc(1.7vmin);
    --styled-select-placeholder__line-height: calc(3vmin);
    --styled-select-placeholder__padding: calc(0.5vmin) 0;
  
    --styled-select-value-wrapper__align-content: space-around;
    --styled-select-value-wrapper__align-items: center;
    --styled-select-value-wrapper__box-sizing: border-box;
    --styled-select-value-wrapper__display: flex;
    --styled-select-value-wrapper__flex: 2 100%;
    --styled-select-value-wrapper__padding: 0 0 0 5px;
  
    --styled-select-value__font-family: "Open Sans";
    --styled-select-value__font-size: calc(1.7vmin);
    --styled-select-value__width: 100%;
    --styled-select-value__line-height: calc(3vmin);
    --styled-select-value__overflow: hidden;
    --styled-select-value__padding: 0 0;
    --styled-select-value__text-overflow: elipsis;
  
    --styled-select__background-color: #e3edfc;
    --styled-select__border-radius: 2px;
    --styled-select__pointer-events--disabled: none; 
    --styled-select__position: relative;
    --styled-select__box-sizing: border-box;
    --styled-select__border-style: solid;
    --styled-select__border-width: 1px;
    --styled-select__color: #1c52a3;
  
    --styled-select-arrow-zone__width: calc(3vmin); 
}

.select:hover {
    --styled-select-control__border--hover: #c1d7f7;
    --styled-select-menu-outer__border--hover: #c1d7f7;
    --styled-select__border--hover: #c1d7f7;
    --styled-select__background-color: #c1d7f7;
}