.mybotui {
    display: flex;
}

.botui-messages-container {
    text-align: left;
}

.statusbar {
    background-color: azure;
    width: 10px;
}

.incorrect-bar {
    background-color: red;
    width: 10px;
}

.correct-bar {
    width: 10px;
}

.padding {
    width: 10px;
    height: 10px;
}