.top_interfaces {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1vh;
}

.showing-schema {
    vertical-align: top;
    /* text-align: right; */
    position: fixed;
    top: 0;
    left: 0;
    margin: 20vh 20vw 20vh 20vw;
    z-index: 9999;
    width: 60vw;
    height: 60vh;
    background-color: #e3edfc;
}

.schema-img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.hiding-schema {
    min-width: 9.6vmin;
    padding: 1vmin;
}

.schema_text {
    position: absolute;
    top: 1vmin;
    right: 1vmin;
}

input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}

.explore_analyze {
    position: relative;
    left: -30.8vw;
    display: flex;
    padding: .5vmin 1vmin 0.5vmin 1.5vmin;
    border-radius: 1vmin;
    border-color: #000000;
    background-color: #1c52a3;
    color: #fff;
    width: 13vmin;
    vertical-align: bottom;
    text-align: left;
    font-size: calc(2.0vmin);
    -webkit-transition: .4s;
    transition: .4s;
    height: 4vmin;
    cursor: pointer
}

.explore_analyze:before {
    position: absolute;
    content: "";
    height: calc(3.4vmin);
    width: calc(3.4vmin);
    border-radius: 0.8vmin;
    background-color: #fff;
    right: 0.3vmin;
    bottom: 0.3vmin;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.explore_analyze {
    background-color: #1c52a3;
    flex-direction: row-reverse;
}

input:checked+.explore_analyze:before {
    -webkit-transform: translateX(-9vmin);
    -ms-transform: translateX(-9vmin);
    transform: translateX(-9vmin);
}