.top_interfaces {
    display: flex;
    justify-content: flex-end;
}

.showing-schema {
    vertical-align: top;
    /* text-align: right; */
    position: fixed;
    top: 0;
    left: 0;
    margin: 20vh 20vw 20vh 20vw;
    z-index: 9999;
    width: 60vw;
    height: 60vh;
    background-color: #e3edfc;
}

.schema-img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.hiding-schema {
    min-width: 9.6vmin;
    padding: 1vmin;
}

.schema_text {
    position: absolute;
    top: 1vmin;
    right: 1vmin;
}