.App-explore {
  .explore_analyze {
    background-color: #1c52a3;
  }
  input:checked + .explore_analyze {
    background-color: #1c52a3;
  }
  .showing-schema {
    background-color: #e3edfc;
  }
}

$analyze_darker: #117a3d;
$analyze_dark: #1ca35f;
$analyze_little_light: #c9f6d8;
$analyze_light: #dff6ea;
$analyze_lighter: #f0f5f2;
$analyze_middle: #adf6cb;
.App-analyze {
  .explore_analyze {
    background-color: $analyze_dark;
  }
  input:checked + .explore_analyze {
    background-color: $analyze_dark;
  }
  .showing-schema {
    background-color: $analyze_light;
  }
}

.top_interfaces {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1vh;
  height: 4vmin;
}

.showing-schema {
  vertical-align: top;
  /* text-align: right; */
  position: fixed;
  top: 0;
  left: 0;
  margin: 20vh 20vw 20vh 20vw;
  z-index: 9999;
  width: 60vw;
  height: 60vh;
}

.schema-img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.hiding-schema {
  min-width: 13vmin;
  padding: 1vmin;
}

.schema_text {
  position: absolute;
  top: 1vmin;
  right: 1vmin;
}

.explore_analyze {
  position: absolute;
  left: 46.5vw;
  display: flex;
  padding: 0.5vmin 1vmin 0.5vmin 1.5vmin;
  border-radius: 1vmin;
  border-color: #000000;
  color: #fff;
  width: 7vw;
  vertical-align: bottom;
  text-align: left;
  font-size: calc(2vmin);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 4vmin;
  cursor: pointer;
}

.explore_analyze:before {
  position: absolute;
  content: "";
  height: calc(3.4vmin);
  width: calc(3.4vmin);
  border-radius: 0.8vmin;
  background-color: #fff;
  right: 0.3vmin;
  bottom: 0.3vmin;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .explore_analyze {
  flex-direction: row-reverse;
}

input:checked + .explore_analyze:before {
  -webkit-transform: translateX(-9vmin);
  -ms-transform: translateX(-9vmin);
  transform: translateX(-9vmin);
}
